body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  background: url('./img/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

h1, p {
  margin: 0;
}

.wrap {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.city-name {
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  height: 340px;
  margin-top : 45px;
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 50%;
  border: 1px solid grey;
}

.weather-image {
  border-bottom: 1px solid grey;
}

.weather-image {
  padding: 10px;
}

.weather-image>img {
  width: 170px;
}

.temp {
  margin-top: 15px;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.additional-info {
  display: flex;
  margin-top : 50px;
  padding: 20px 20px;
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 10px;
  border: 1px solid grey;
}

.pressure,
.wind {
  margin-right: 50px;
}

.additional-img {
  display: block;
  width: 70px;
  margin: 0 auto;
}

.additional-text {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
}